@tailwind base;
@tailwind components;
@tailwind utilities;


progress {
    color: lightblue;
}

progress::-moz-progress-bar {
    background: lightblue;
}

progress::-webkit-progress-value {
    background: #7B61FF;
}

progress::-webkit-progress-bar {
    background: gainsboro;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #7B61FF;
    transform-origin: 0%;
    z-index: 9999;
}